Repository I-Language-Development/I-language-rust, changes with the labels that .github/labeler.yml gives for each.
All labels: dependencies, documentation, module

.github/labeler.yml:

---
dependencies:
    - changed-files:
          - any-glob-to-any-file: ["**/Cargo.toml", "**/requirements.txt"]

documentation:
    - changed-files:
          - any-glob-to-any-file: "Docs/**"

module:
    - changed-files:
          - any-glob-to-any-file: "Modules/**"

Applied linting suggestions
  src/build.rs
Labels: none

[#91]: Removed unused variables
  crates/lexer/src/lex.rs
Labels: none

[#91]: Refactoring lexer
  crates/lexer/src/lex.rs
  crates/lexer/src/tokens/token.rs
  crates/lexer/tests/tokens/token.rs
Labels: none

[#91]: More refactoring
  crates/lexer/src/lex.rs
  crates/lexer/src/tokens/constant.rs
  crates/lexer/src/tokens/token.rs
  crates/lexer/tests/tokens/constant.rs
  crates/lexer/tests/tokens/keyword.rs
  crates/lexer/tests/tokens/mark.rs
  crates/lexer/tests/tokens/token.rs
Labels: none

Linting stuff
  crates/tools/src/logging.rs
Labels: none

Fixed CI
  .mega-linter.yml
Labels: none

Update mergify.yml
  .github/mergify.yml
Labels: none

[ImgBot] Optimize images
  .github/example-syntax.png
Labels: none

feat(errors): Added errors and more logging to the lexer and compiler cli
  crates/lexer/examples/hello_world.rs
  crates/lexer/examples/one_plus_one.rs
  crates/lexer/examples/read_from_file.rs
  crates/lexer/src/lex.rs
  crates/lexer/src/tokens/token.rs
  crates/lexer/tests/lex.rs
  crates/lexer/tests/tokens/token.rs
  crates/tools/Cargo.toml
  crates/tools/src/error.rs
  src/main.rs
Labels: dependencies

docs(tools): Added module documentation
  crates/tools/src/lib.rs
Labels: none

fix(git): Add more files to .gitignore
  .gitignore
Labels: none

docs: Added changelog generator
  .github/cliff.toml
  Docs/Docs/CHANGELOG.md
  justfile
Labels: documentation

ci: Made dependabot use conventional commits
  .github/dependabot.yml
Labels: none

style: Fixed editorconfig issues
  .github/cliff.toml
Labels: none

feat(lexer): Added as keyword
  crates/lexer/src/tokens/keyword.rs
  crates/lexer/tests/tokens/keyword.rs
Labels: none

chore(ci): Changed commit prefix for removals
  .github/cliff.toml
Labels: none

del: Removed delete keyword
  crates/lexer/src/tokens/keyword.rs
  crates/lexer/tests/tokens/keyword.rs
Labels: none

docs: Fixed using the wrong name
  crates/lexer/src/tokens/token.rs
Labels: none

feat(lexer): Added `Default` trait to `Location`
  crates/lexer/src/tokens/token.rs
Labels: none

mv: Renamed `Boolean` variant on `Constant` enum for consitency with the other variants
  crates/lexer/src/tokens/constant.rs
  crates/lexer/tests/tokens/constant.rs
Labels: none

feat(lexer): Added `Display` trait to all token types
  crates/lexer/src/tokens/constant.rs
  crates/lexer/src/tokens/keyword.rs
  crates/lexer/src/tokens/mark.rs
  crates/lexer/src/tokens/token.rs
  crates/lexer/tests/tokens/constant.rs
  crates/lexer/tests/tokens/keyword.rs
  crates/lexer/tests/tokens/mark.rs
  crates/lexer/tests/tokens/token.rs
Labels: none

docs: Updated `git-cliff` to v2.0.2 and used the new features
  .github/cliff.toml
Labels: none

fix(lexer): Fixed lexer not allowing `"\\"`
  crates/lexer/src/tokens/token.rs
Labels: none

rem: Removed accidentally committed directory
  src/__old_parser/Cargo.toml
Labels: dependencies

feat(cli): Switched from `.try_exists()` to `.exists()`
  src/main.rs
Labels: none

fix(ci): Fixed repository link containing an excess slash
  .github/cliff.toml
Labels: none

fix: Fixed megalinter still being setup with the uppercase file names
  .mega-linter.yml
Labels: none

fix: Added back the submodule
  .gitmodules
Labels: none

rem: Removed outdated modules, will be added back tho
  modules/math.il
Labels: none

fix: FIx justfile using old paths
  justfile
Labels: none

fix: Fix github workflows using old paths
  .github/workflows/dependencies.yml
Labels: none

feat(ci): Added `just install-dev-dependencies` to workflows
  .github/workflows/dependencies.yml
Labels: none

fix(cargo): `cargo-audit` is an optional dependency
  Cargo.toml
Labels: dependencies

rem: Removed add-desktop-icon script due to it not being needed
  src/installer/windows/add_desktop_icon.bat
  src/installer/windows/setup.iss
Labels: none
