Repository I-Language-Development/I-language-rust, changes with the labels that .github/labeler.yml gives for each.
All labels: docs, module, dependencies

Added if check
  .github/workflows/dependencies.yml
Labels: none

Removed spaces after colon
  .github/workflows/dependencies.yml
Labels: none

Fixed string delimiter issue
  .github/workflows/dependencies.yml
Labels: none

Added env namespace
  .github/workflows/dependencies.yml
Labels: none

Changed to use or statement
  .github/mergify.yml
Labels: none

Changed variable
  .github/workflows/dependencies.yml
Labels: none

Added or statement to mergiy config
  .github/mergify.yml
Labels: none

Sorted options alphabetically
  Makefile
Labels: none

Reformatted file
  Tools/clean.py
Labels: none

Added MAKEFILE_CHECKMAKE
  .mega-linter.yml
Labels: none

Added changelog
  CHANGELOG.md
Labels: none

gh-9: Added math module
  Modules/Math.il
Labels: module

Added python files
  .gitignore
Labels: none

Added mkdocs config
  .readthedocs.yaml
  mkdocs.yml
Labels: none

Formatted file and added note
  .github/README.md
Labels: none

Added replace variables tool
  Tools/Docs/replace_variables.py
Labels: none

Added more plugins
  mkdocs.yml
Labels: none

Added based-on header
  CHANGELOG.md
Labels: none

Added plugins to requirements
  Docs/requirements.txt
Labels: dependencies

Added logo.ico
  .github/logo.ico
  src/Installer/associate_file_extension.bat
  src/Installer/setup.iss
Labels: none

Added 404 page
  Docs/overrides/404.html
Labels: none

Added announcement bar
  Docs/overrides/main.html
Labels: none

Added about.md
  Docs/about.md
Labels: none

Added warning to readme
  Docs/index.md
Labels: none

Added custom css and changed many config values
  Docs/extra.css
  mkdocs.yml
Labels: none

Added "-present" to LICENSE
  LICENSE
Labels: none

Added ILEPs gitmodule
  .gitmodules
Labels: none

Fixed submodule
  .gitmodules
Labels: none

Fixed dead link
  Docs/about.md
Labels: none

Added CONTRIBUTING.md
  Docs/CONTRIBUTING.md
Labels: none

Fixed possible security issues
  Tools/Docs/replace_variables.py
Labels: none

Fixed CSS issue
  Docs/extra.css
Labels: none

Added type: timeago
  mkdocs.yml
Labels: none

Added HTML_HTMLHINT
  .mega-linter.yml
Labels: none

Formatted HTML files
  Docs/overrides/404.html
  Docs/overrides/main.html
Labels: none

Formatted file
  mkdocs.yml
Labels: none

Added docs_dir
  mkdocs.yml
Labels: none

Forgot we already had one
  .github/CONTRIBUTING.md
  Docs/CONTRIBUTING.md
Labels: none

Fixed warning
  .github/README.md
Labels: none

Fixed several security issues
  Tools/Docs/replace_variables.py
  Tools/get_release_version.py
Labels: none

.github/labeler.yml:

---
docs:
  - "Docs"
module:
  - "Modules/*"
dependencies:
  - "dev-requirements.txt"
  - "Docs/requirements.txt"
