Repository I-Language-Development/I-language-rust, pull requests merged in 2023-06, with the labels that each got.

#36 [ENHANCEMENT] Lexer improvement + bugfix
  src/Lexer/lexer.rs
Labels: Able to merge, Approved, size/L

#40 [FEATURE] Add german installer translation
  Translations/Installer/german.isl
  src/Installer/Windows/setup.iss
Labels: Able to merge, Approved, Feature, size/M

#44 [DOCUMENTATION] Add dev docs
  Docs/.mkdocs.yml
  Docs/Docs/Dev/Compiler/compiler.rs.md
  Docs/Docs/Dev/Compiler/mod.rs.md
  Docs/Docs/Dev/Grammar/fileextensions.md
  Docs/Docs/Dev/Grammar/grammar.pest.md
  Docs/Docs/Dev/Grammar/grammar.rs.md
  Docs/Docs/Dev/Grammar/mod.rs.md
  Docs/Docs/Dev/Installer/Linux/installer.bash.md
  Docs/Docs/Dev/Installer/Windows/Server/installer.bat.md
  Docs/Docs/Dev/Installer/Windows/add_desktop_icon.bat.md
  Docs/Docs/Dev/Installer/Windows/add_to_path.bat.md
  Docs/Docs/Dev/Installer/Windows/associate_file_extension.bat.md
  Docs/Docs/Dev/Installer/Windows/setup.iss.md
  Docs/Docs/Dev/Installer/Windows/unassociate_file_extension.bat.md
  Docs/Docs/Dev/Lexer/lexer.rs.md
  Docs/Docs/Dev/Lexer/mod.rs.md
  Docs/Docs/Dev/Parser/mod.rs.md
  Docs/Docs/Dev/Parser/parser.rs.md
  Docs/Docs/Dev/index.md
  Docs/Docs/Dev/lib.rs.md
  Docs/Docs/Dev/main.rs.md
  src/Installer/Windows/unassociate_file_extension.bat
Labels: Documentation, Enhancement, Able to merge, Approved, size/L
