Repository I-Language-Development/I-language-rust, pull requests merged in 2024-03, with the labels that each got.

#120 [ENHANCEMENT] Remove `default` keyword
  crates/lexer/src/tokens/keyword.rs
  crates/lexer/tests/tokens/keyword.rs
Labels: enhancement, able to merge, size/S, approved

#122 [ENHANCEMENT] Remove `function` and `->`
  crates/lexer/src/tokens/keyword.rs
  crates/lexer/src/tokens/mark.rs
  crates/lexer/tests/tokens/keyword.rs
  crates/lexer/tests/tokens/mark.rs
Labels: enhancement, able to merge, size/S, approved

#124 V1.0.0 alpha.5
  crates/compiler/src/lexer.rs
  crates/compiler/src/parser.rs
  crates/lexer/src/error.rs
  crates/lexer/src/lex.rs
  crates/lexer/src/tokens/keyword.rs
  crates/lexer/src/tokens/mark.rs
  crates/lexer/src/tokens/token.rs
  crates/lexer/tests/tokens/keyword.rs
  crates/lexer/tests/tokens/mark.rs
  crates/tools/Cargo.toml
  crates/tools/src/lib.rs
  crates/tools/src/terminal.rs
  src/main.rs
Labels: dependencies, Review requested, size/L

#125 Revert "V1.0.0 alpha.5"
  .devcontainer/devcontainer.json
  crates/compiler/src/lexer.rs
  crates/compiler/src/parser.rs
  crates/lexer/src/error.rs
  crates/lexer/src/lex.rs
  crates/lexer/src/tokens/keyword.rs
  crates/lexer/src/tokens/mark.rs
  crates/lexer/src/tokens/token.rs
  crates/lexer/tests/tokens/keyword.rs
  crates/lexer/tests/tokens/mark.rs
  crates/tools/Cargo.toml
  crates/tools/src/lib.rs
  crates/tools/src/terminal.rs
  src/installer/windows/server/installer.bat
  src/main.rs
Labels: dependencies, size/L
